<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686563">  <td>20/11/09 14:12:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestCase.fitbaseAppLaunch()[pri:0, instance:testcases.login.LoginTestCase@7276c8cd]">&gt;&gt;fitbaseAppLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1032000752</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/11/09 14:12:58</td>   <td>31197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCase.verifyFitbaseAppValidLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.login.LoginTestCase@7276c8cd]">verifyFitbaseAppValidLogin</td> 
  <td>main@1032000752</td>   <td></td> </tr>
</table>
